html {
  background-image: url(./assets/lebon.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #9865659d;
  color: rgb(35, 45, 92);
  transition: background-color 0.5s, color 0.5s;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* ----------------------------- la navbar + logo-------------------------  */

nav {
  background-color: #5d5da9;
  height: 10%;
  text-align: center;
  align-items: center;
  padding: 10px;
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
}
.logo {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: solid, 5px, orange;
  float: left;
}
.navA {
  font-size: 20px;
  color: #f8f8ff;
  text-decoration: none;
}
.navAc {
  font-size: 20px;
  color: #f8f8ff;
  text-decoration: none;
}

/* ---------Bouton jour/nuit--------------------- */
.toggle {
  right: 20px;
  top: 40px;
  margin-left: 20px;
}
.checkbox {
  display: none;
}
.checkbox:checked + .label .circle {
  transform: translate(29px);
}

.label {
  background: #cb9c9c;
  height: 26px;
  width: 50px;
  padding: 5px 8px;
  border-radius: 20%;
  cursor: pointer;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  position: relative;
  transform: scale(1.2);
}
.moon,
.sun {
  font-size: 1.3rem;
  text-align: center;
}
.sun {
  transform: translate(3px, -1px);
}
.moon {
  transform: translate(-3px, -1px) rotate(-10deg);
}
.circle {
  background: #eee;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  position: absolute;
  top: 5px;
  left: 6px;
  transition: transform 0.8s cubic-bezier(0.45, -1.12, 0.35, 1.78);
}

/* }----------mode nuit---------------------  */

.dark {
  background-color: rgb(8, 4, 61);
  color: white;
}
.dark .label {
  box-shadow: 2px 2px 2px #a25b38;
  background: #000080;
}
.dark .circle {
  background: #a25b38;
}
/* 

/* ---------------barre de recherche--------------  */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#searchBar {
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

button {
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #000080;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
/* ----------------TITRE H1---------------   */
.titre,
.titres {
  width: 500px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline;
  font-size: 70px;
  color: #000080;
  background-color: #f8f8ff;
  margin: 10px auto;
  padding: 5px;
  border-radius: 20px;
  opacity: 70%;
}
.titres {
  margin-top: 60px;
}

/* -----------------carousel------------------ */
.carousel {
  position: relative;
  width: 600px;
  height: 800px;
  /* max-width: 600px; */
  margin: 3em auto;
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  background-color: white;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.slide {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.slide.active {
  opacity: 1;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev,
.next {
  position: absolute;
  font-size: 3em;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.prev {
  left: 0px;
}
.next {
  right: 0px;
}
/* ---------------Texte de présentation----------------  */

.presentation {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  margin: 10px 30px;
  padding: 5px 2px;
  border-radius: 20px;
  grid-column-gap: 20px;
}
.presentationTexte {
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #c5c5ca;
  opacity: 90%;
}

/* ------------Formulaire de contact---------------- */

.h3Contact {
  width: 250px;
  text-align: center;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: #c5c5ca;
  margin: 10px auto;
  border-radius: 20px;
}
.formContact {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 300px;
  padding: 0 20%;
  margin: 10px auto;
}
.inputContact {
  margin: 10px 10%;
  padding: 5px;
  border: 3px solid #007acc;
}
.textaContact {
  width: 100%;
  border: 3px solid #007acc;
  margin-top: 5px;
  margin: auto;
}
.submitContact {
  margin: 10px 80px 30px 80px;
  padding: 5px;
  border-radius: 20px;
  background-color: #28a745;
}
.submitContact:hover {
  background-color: #5435dc; /* On modifie la couleur du fond au passage de la souris */
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #5d5da9;
}

.contact {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 10px;
  margin: 15px;
  background-color: #cb9c9c;
  border-radius: 20px;
}
.contact:hover {
  background-color: #a25b38; /* On modifie la couleur du fond au passage de la souris */
}
.facebook {
  height: 50px;
  width: 50px;
  padding: 0 50px;
  margin: 10px;
  border-radius: 50%;
}
.instagram {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 50%;
}
/* --------------------------------------- */

/* ---------------annuaire--------------------- */

.h3t {
  text-align: center;
  font-size: 25px;
}

.categories {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
}
.peplum {
  background-color: #c5c5ca;
  padding: 5px 5px 15px 25px;
  margin: 5px 50% 15px 5px;
  border-radius: 5px;
  opacity: 90%;
}
.western {
  background-color: #c5c5ca;
  padding: 5px 5px 15px 25px;
  margin: 5px 50% 15px 5px;
  border-radius: 5px;
  opacity: 90%;
}
.muet {
  background-color: #c5c5ca;
  padding: 5px 5px 15px 25px;
  margin: 5px 50% 30px 5px;
  border-radius: 5px;
  opacity: 90%;
}

/* -------------------fiche film----------------------------------  */

.titrejs {
  font-size: 50px;
}
.anneejs {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 200px;
  margin: 30px auto;
}
.posterjs {
  width: 450px;
  height: 650px;
  border-radius: 11px;
}
.acteursjs {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.textejs {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 40px;
}
/* --------------------------------------------------------------------------------------------------------  */
h2 {
  text-align: center;
  text-decoration: underline;
  background-color: #c5c5ca;
  opacity: 90%;
  border-radius: 20px;
  padding: 10px;
  margin: 0 35%;
  margin-top: 10px;
}
h3 {
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
}
p {
  text-align: center;
  background-color: #c5c5ca;
  opacity: 90%;
  margin: 0 20% 20px 20%;
  padding: 15px;
  border-radius: 20px;
}
img {
  margin: 10px auto;
  display: block;
  height: 400px;
  width: 300px;
}
.detail {
  width: 300px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  color: #000080;
  background-color: #f8f8ff;
  margin: 10px auto;
  padding: 5px;
  border-radius: 20px;
  opacity: 70%;
  display: block;
}
.affiche0 {
  height: 600px;
  width: 450px;
}

@media screen and (max-width: 850px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .titrejs {
    font-size: 30px;
    width: 50vw;
    margin: 10px auto;
  }
  .posterjs {
    width: 400px;
    height: 550px;
    border-radius: 11px;
  }
  .titres {
    font-size: 30px;
    width: 50vw;
  }
  .affiche0 {
    height: 500px;
    width: 350px;
  }

  .presentationTexte {
    font-size: 20px;
  }

  .carousel {
    width: 400px;
    height: 550px;
  }
  .titre {
    width: 400px;
    font-size: 40px;
  }
}

@media screen and (max-width: 435px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .titrejs {
    font-size: 30px;
    width: 30px;
    margin: 5px auto;
  }
  .posterjs {
    width: 200px;
    height: 300px;
    border-radius: 11px;
  }
  .titres {
    font-size: 30px;
    width: 30px;
  }
  .affiche0 {
    height: 300px;
    width: 150px;
  }

  .presentationTexte {
    font-size: 10px;
  }

  .carousel {
    width: 250px;
    height: 400px;
  }
  .titre {
    width: 200px;
    font-size: 20px;
  }
  .contact {
    font-size: 15px;
    width: 75px;
  }
  .navA {
    font-size: 15px;
    margin: 0 5px;
  }
  .navAc {
    font-size: 15px;
  }
  .facebook {
    height: 30px;
    width: 30px;
    margin-top: 30px;
  }
  .instagram {
    height: 30px;
    width: 30px;
    margin-top: 30px;
  }
  #searchBar {
    font-size: 15px;
  }
  button {
    font-size: 15px;
  }
  .titrejs {
    font-size: 20px;
    width: 150px;
  }
  .titres {
    font-size: 20px;
    width: 150px;
  }
}
